#hero {
  padding: 0px;
  background-color: #000;
  position: relative;
  
}

.hero-msg-1 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* #hero img {
  border-radius: .5rem;
} */

@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    padding: 0px;
  }

}

@media (max-width: 767px) {
  #hero {
    padding: 0px;
  }
}