.li-sidebar-close {
  display: none;
}

.sidebar-close {
  color: #757575;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

a {
  transition: background 0.2s, color 0.2s;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 180px;
  width: 0;
  height: 100%;
  margin-left: -180px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #383838;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 3px 4px #1f1f1f;
}

#wrapper.toggled #sidebar-wrapper {
  width: 180px;
}

.my-name {
  color: #757575;
  font-size: 30px;
  font-weight: 900;
  padding: 0px 0px 20px 44px;
  transition: background-color .7s;
}

.name-cap {
  padding-right: 0px;
  font-size: 36px;
}

.first-name, .last-name {
  height: 40px;
}

#home {
  color: #757575;
  font-size: 30px;

  height: 100px;
  font-weight: 900;
  padding: 20px 20px 20px 16px;
}

.sidebar-nav {
  position: absolute;
  top: 105px;
  width: 180px;
  margin: 40px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
}

.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px; 
}

.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  transition: background-color .7s;
}

.sidebar-nav > li > a:hover,
li.active-nav a 
 {
  text-decoration: none;
  color: #fff;
  background: #757575;
  border-left: 10px solid #0c7664;
  text-indent: 0px;

}

.sidebar-nav > li > a:hover > i,
li.active-nav i
{
  text-indent: 10px;
}


.my-name:hover {
  color: #fff;
  background: #757575;
  border-left: 10px solid #0c7664;
  padding-left: 34px;
}

.sidebar-nav > li > a i.fa {
  font-size: 20px;
  width: 50px;
}

#sidebar-toggle,
#header {
  display: none;
}

@media (min-width: 992px) {
  .li-sidebar-close {
    visibility: hidden;
  }

  #sidebar-wrapper {
    width: 180px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #sidebar-wrapper {
    width: 60px;
  }

  .my-name {
    padding-left: 16px;
  }

  .my-name:hover {
    padding-left: 6px;
  }

  .name-cap {
    padding-right: 16px;
  }

  .name-back {
    display: none;
  }


  .last-name {
    padding-left: 3px;
  }

}

@media (max-width: 767px) {
  
  #wrapper.toggled .li-sidebar-close {
    display: block;
  } 

  #wrapper.toggled #sidebar-wrapper {
    width: 180px;
  }

}
