* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
  /* background-color: #e0e0e0; */
  background-image: url(./cork-wallet.png)
}

p {
  padding: 10px;
  margin-bottom: 0px;
}

#header {
  display: none;
}

.skill-img {
  width: 100px;
}

/* #about {
  background-color: #e0e0e0;
}

#skills {
  background-color: #e0e0e0;
}

#projects {
  background-color: #e0e0e0;
}

#education {
  background-color: #e0e0e0;
}

#experience {
  background-color: #e0e0e0;
}

#contact {
  background-color: #e0e0e0;
}

#resume {
  background-color: #e0e0e0;
} */

/* won't need this if keep button over <a> */
a {
  transition: background 0.2s, color 0.2s;
}

/* won't need this if keep button over <a> */
a:hover,
a:focus {
  text-decoration: none;
}

/* 
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 180px;
  width: 0;
  height: 100%;
  margin-left: -180px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
} */

/* #sidebar-close {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 180px;
}

#home,
#close {
  padding-right: 20px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 180px;
  text-align: left;
  padding: 20px 0 0 20px;
}
.sidebar-brand,
#sidebar-close h2 {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 105px;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #f8be12;
}

.active-nav {
  text-decoration: none;
  color: #fff;
  background: #f8be12;
}

.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
} */

#sidebar-toggle,
#header {
  display: none;
}

/* #navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#wrapper.toggled {
  position: absolute;
  margin-right: -180px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #f8be12;
} */

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px;
  top: 0px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -180px;
}

@media (min-width: 992px) {

  /* #auth-image {
    width: 40%;
  } */

  /* #wrapper {
    padding-left: 180px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 180px;
  } */

  #sidebar-toggle,
  #header {
    display: none;
  }

  /* #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled {
    position: absolute;
    margin-right: -190px;
  } */

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  /* #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }
 */
  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* #auth-image {
    width: 50%;
  } */

  /* #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  } */

  #sidebar-toggle,
  #header {
    display: none;
  }

  /* #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -180px;
  } */

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -180px;
  }

  /* #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 180px;
  } */

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 180px;
  }
}

@media (max-width: 767px) {

  #auth-image {
    width: 200px;
  }

  /* #wrapper {
    padding-left: 0;
  }

  .head-offset {
    margin-top: -50px;
    padding-top: 50px;
  } */

  .main-section {
    position: absolute;
    top: 60px;
  }

  #wrapper.toggled .main-section:hover {
    cursor: pointer;
  }

  :target::before {
    content: "";
    display: block;
    height: 60px;
    margin-top: -60px;
    background-color: #e0e0e0;
  }

  #header {
    /* position: fixed;
    top: 0px;
    left: 0px; */
    height: 60px;
    width: 100%;
    display: block;
    padding: 20px 20px 20px 60px;
    /* text-align: center; */
    z-index: 2;
    color: #ffffff;
    background-color: #383838;
    box-shadow: 0px 0px 3px 4px #1f1f1f;
  }

  /* burger button */
  #sidebar-toggle {
    position: fixed;
    top: 15px;
    left: 20px;
    display: block;
    color: #757575;
    background-color: rgb(56,56,56);
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }

  /* #sidebar-close {
    display: block;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 180px;
  } */


  #wrapper.toggled #content-wrapper {
    margin-right: 180px;
  }

}
