* {
  box-sizing: border-box;
}

html {
  /* no longer using smooth setting due to undesirable motion effect when moving through multiple sections */
  scroll-behavior: auto;
}

body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
  background-image: url(./cork-wallet.png)
}

p {
  padding: 10px;
  margin-bottom: 0px;
}

#header {
  display: none;
}

.skill-img {
  width: 100px;
}

/* won't need this if keep button over <a> */
a {
  transition: background 0.2s, color 0.2s;
}

/* won't need this if keep button over <a> */
a:hover,
a:focus {
  text-decoration: none;
}

#sidebar-toggle,
#header {
  display: none;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px;
  top: 0px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -180px;
}

@media (min-width: 992px) {

  #sidebar-toggle,
  #header {
    display: none;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  #sidebar-toggle,
  #header {
    display: none;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -180px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 180px;
  }
}

@media (max-width: 767px) {

  #auth-image {
    width: 200px;
  }

  .main-section {
    position: absolute;
    top: 60px;
  }

  #wrapper.toggled .main-section:hover {
    cursor: pointer;
  }

  :target::before {
    content: "";
    display: block;
    height: 60px;
    margin-top: -60px;
    background-color: #e0e0e0;
  }

  #header {
    height: 60px;
    width: 100%;
    display: block;
    padding-top: 0px;
    line-height: 1.3;
    z-index: 2;
    background-color: #383838;
    box-shadow: 0px 0px 3px 4px #1f1f1f;
    color: #fff;
  }

  #header-title {
    color: inherit;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
  }

  #header-sub-title {
    color: inherit;
    font-size: 12px;
    display: inline-block;
    font-weight: 300;
    width: 100%;
  }

  /* burger button */
  #sidebar-toggle {
    position: fixed;
    top: 6px;
    left: -12px;
    display: block;
    color: #757575;
    background-color: rgb(56,56,56);
    border: none;
    font-size: 28px;
    text-align: left;
    transition: color .7s;
    
  }

  #wrapper.toggled #content-wrapper {
    margin-right: 180px;
  }

}
