.skills-div {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  /* text-align: center; */
  box-shadow: 2px 2px 4px #888888;
}

.skills-title {
  padding: 5px;
  border-bottom: 1px solid black;
}