.resume-box {
  width: 60%;
  /* margin: 30px; */
  /* margin-top: 70px;
  margin-bottom: 600px;
  padding: 30px; */
  /* display: inline-block; */
  /* background-color: #ffffff; */
  /* text-align: center; */
  font-size: 16px;
  /* border-radius: .5rem; */
  /* box-shadow: 2px 2px 4px #888888; */
}

#resume {
  height: 100%;
}

.resume-div {
  width: 75%;
  padding: 12px;
  margin: 12px auto;
  transition: background-color 1s, box-shadow .5s;
}

.resume-div:hover {
  border: 1px solid #e0e0e0; 
  /* background-color: #e0e0e0; */
  background-image: url(./cork-wallet.png);
  padding: 11px;
  /* font-weight: 500; */
  /* box-shadow: 2px 4px 4px rgba(0,0,0,0.7);  */
  box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.7); 
  border-radius: .5rem;
}

#resume-link {
  padding-left: 12px;
  display: block;
}



.resume-div i {
  color: #0c7664;
  font-size: 30px;
  vertical-align: middle;
  /* display: inline-block; */
}

.resume-name {
  padding-left: 16px;
  vertical-align: middle;
  /* display: inline-block; */
  /* font-size: 16px; */
}

@media (min-width: 768px) and (max-width: 991px) {
  .resume-div  {
    width: 85%;
  }
}

@media (max-width: 767px) {

  .resume-box {
    width: 90%;
  }
  
  .resume-div {
    width: 100%;
  }

  .resume-div i {
    font-size: 24px;
  }

  .resume-name {
    font-size: 14px;
  }
  
}