.contact-box {
  width: 15%;
  /* margin: 10px;
  padding: 10px; */
  /* background-color: white; */
  text-align: center;
  /* box-shadow: 2px 2px 4px #888888; */
  /* border: 2px solid black; */
  /* display: inline-block; */
  /* float: left; */
}

li {
  list-style-type: none;
}

li.contact-list i {
  color: #0c7664;
  font-size: 30px;
}

.contact-name {
  padding-left: 10px;
  /* font-size: 16px; */
}

.isDisabled {
  color: currentColor;
  cursor: default;
  text-decoration: none;
  pointer-events: none;
}

@media (max-width: 767px) {
  .contact-box {
    width: 30%;
  }
}