
.headline {
  padding: 20px;
  color: #ffffff;
  background-color: #0c7664;
  margin: 0px;
}


@media (max-width: 767px) {
  .headline {
    height: 60px;
    padding: 12px 20px 8px 20px;
    font-size: 30px;
  }
}