.contacts-div {
  width: 60%;
}

.contact-group {
  width: 75%;
  padding-top: 16px;
}


@media (min-width: 768px) and (max-width: 991px) {
  .contact-group {
    width: 85%;
  }
}
 
@media (max-width: 767px) {

  .contacts-div {
    width: 90%;
  }

  .contact-group {
    width: 100%;
  }
}